
@model List<EventDeneme.Models.EventCardViewModel>

    @foreach (var e in Model)
    {

        <div class="event-card" style="max-height:450px !important;">
            <img src="@Url.Content(e.ImageUrl)" alt="@e.Title" />

            <div class="event-info">
                <h3>@e.Title</h3>
                <p>@e.StartDate • @e.Venue</p>
                <div class="price-row">
                <span class="price">₺@(e.Price ?? 0)+</span>
                <a href="@Url.Action("Details", "Event", new { id = e.EventId })">Book Now</a>
                    </div>
            </div>
        </div>

    }
    